#terminal div {
  color: gray;
}

#terminal div.out {
  color: red;
}

#terminal div.in {
  color: blue;
}

.container{
  display:flex;
}

.accValues{
  flex:2;
  text-align: center;
  
  margin: 10px;
}
.gyroValues{
  flex:2;
  text-align: center;
  
  margin-top: 10px;
  margin-bottom:10px;
}
